@import "../../vars.css";

.container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: linear-gradient(180deg, #576cbc 0%, #132a53 100%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 24px 16px;
  max-width: 360px;

  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.image {
  margin-bottom: 26px;
}

.title {
  font-size: 25px;
  font-weight: 700;
  -webkit-text-fill-color: lightskyblue;
  -webkit-text-stroke-color: #04152d;
}


.description {
  margin-top: 6px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
}

.skills {
  /* border: 2px solid yellow; */
  width: 100%;
  margin-top: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.skill {
  /* width: 60%; */
  font-size: 20px;
  font-weight: 700;
  border-radius: 5px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  justify-content: space-around;
}

.link {
  text-decoration: none;
  /* color: var(--color-text); */
  color: cyan;
  font-size: 25px;
  font-weight: 600;
  border-radius: 10px;
  background: var(--color-primary);
  padding: 5px 20px;
  /* border: 2px solid black; */
  box-shadow: 3px 3px 4px;
  margin-bottom: 10px;
}

.link:hover{
  color: #04152d;
  background: rgba(255, 255, 255, 0.8);
}