@import "../../vars.css";

.navbar {
  width: 80%;
  position: absolute;
  left: 160px;
  top:20px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
  background-color: rgba(2, 0, 36, 0.15); /* Reduced opacity for more transparency */
  /* backdrop-filter: blur(10px); This creates the blur effect */
  -webkit-backdrop-filter: blur(10px);
  border-radius: 5px;
  background-color: aliceblue;
  color: black;
}

/* .navbar:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: cyan;
  transform: translateY(-5px);
} */

.title {
  font-size: 25px;
  font-weight: 1000;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  color: blue;
  transition: color 0.3s ease, transform 0.3s ease;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}

.title span {
  color: black;
  transition: color 0.3s ease;
}

.title:hover {
  color: #ff6f61;
  transform: scale(1.05);
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
}

.menuItems a {
  /* border-bottom: 2px solid white; */
  /* border-right: 1px solid white; */

  text-decoration: none;
  color: rgb(10, 65, 206);
  /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 8px 0px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  
}


.menuItems a:hover {
  /*background: rgba(255, 255, 255, 0.1); */
  /* color:  rgba(255, 255, 255, 0.7); */

  background-color: rgba(255, 255, 255, 0.5);
  transform: translateY(-5px);
  font-size: 22px;
  transition: background-color 0.3s ease, font-size 0.3s ease;
}

.menuBtn {
  display: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menuBtn:hover {
  transform: rotate(90deg);
}

@media screen and (max-width: 1024px) {
  .navbar {
    width: 100%;
    position: static;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 30px;
  }

  .menu {
    position: absolute;
    right: 25px;
    /* top: 12px; */
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 1001;
    color: #ff6f61;
  }

  .menuBtn {
    display: block;
    width: 60px;
    margin-left: 100px;

  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 20px 0px;
    background: rgba(25, 55, 109, 0.9);
    padding: 24px 33px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .menuItems li {
    width: 100%;
  }

  .menuItems a {
    background: none;
    border: none;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .menuOpen {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
}
