@import "../../vars.css";

.navbar {
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  z-index: 1000;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
  background-color: rgba(2, 0, 36, 0.7); /* Reduced opacity for more transparency */
  backdrop-filter: blur(10px); /* This creates the blur effect */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  border-radius: 5px;
}

/* .navbar:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: cyan;
  transform: translateY(-5px);
} */

.title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  color: cyan;
  transition: color 0.3s ease, transform 0.3s ease;
}

.title span {
  color: white;
  transition: color 0.3s ease;
}

.title:hover {
  color: #ff6f61;
  transform: scale(1.05);
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
}

.menuItems a {
  border-bottom: 2px solid white;
  /* border-right: 1px solid white; */


  
  text-decoration: none;
  color: lightblue;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  /* padding: 10px 20px; */
  padding: 10px;
  border-radius: 8px 0px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  
}

.menuItems a:hover {
  /* color: yellowgreen;
  transform: translateY(-3px);
  background: rgba(255, 255, 255, 0.1); */

  background-color: rgba(255, 255, 255, 0.2);
  color: cyan;
  transform: translateY(-5px);
}

.menuBtn {
  display: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menuBtn:hover {
  transform: rotate(90deg);
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 30px;
  }

  .menu {
    position: absolute;
    right: 0;
    top: 25px;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 1001;
  }

  .menuBtn {
    display: block;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    border-radius: 20px 0px;
    background: rgba(25, 55, 109, 0.9);
    padding: 24px 33px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* border: 2px solid blue; */
  }

  .menuItems li {
    width: 100%;
    /* border: 2px solid blue; */
    /* background-color: rgba(255, 255, 255, 0.2); */
  }

  .menuItems a {
    background: none;
    border: none;
  }

  .menuOpen {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
}
